<form id="hero-panel">
    <div class="form-group">
        <label for="heroTitle">Hero Title</label>
        <input type="text" class="form-control form-control-lg" id="heroTitle">
        <small id="heroTitleHelp" class="form-text text-muted">Change the main title</small>
    </div>
    <div class="form-group">
        <label for="heroSubtitle">Hero Subtitle</label>
        <input type="text" class="form-control form-control-lg" id="heroSubtitle">
        <small id="heroTitleHelp" class="form-text text-muted">Change the subtitle</small>
    </div>
    <div class="form-group form-select">
        <label for="heroColor">Hero Color</label>
        <select class="form-control form-control-lg" id="heroColor">
            <option>Red</option>
            <option>Yellow</option>
            <option>Blue</option> 
            <option>Violet</option> 
            <option>Green</option>
            <option>Orange</option>
        </select>
    </div>
    <div class="form-group form-select">
        <label for="heroSize">Hero Size</label>
        <select class="form-control form-control-lg" id="heroSize">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option> 
            <option>Full</option>
        </select>
    </div>
</form>