<app-navbar (pageSelected)="onNavigate($event)"></app-navbar>

<div id="main" *ngIf="loadedPage === 'home'">    
    <!--  * Figure out how to pass variables between siblings 😫 -->
    <!-- <app-hero heroTitle="{{heroTitle}}" heroSubtitle="{{heroSubtitle}}"></app-hero> -->
    
    <app-hero-panel></app-hero-panel>
    <hr>
    <app-button-panel></app-button-panel>
</div>

<!-- ! Temporary until I learn routing -->
<div id="main" *ngIf="loadedPage === 'armory'">
    <app-hero heroTitle="Welcome to the Armory" heroSubtitle="Choose your weapons wisely"
    heroColor="Olive Green"></app-hero>
    <app-armory></app-armory>
</div>