<app-navbar></app-navbar>
<div id="main" *ngIf="showHome">
    
    <!--  * Figure out how to pass variables between siblings 😫 -->
    <!-- <app-hero heroTitle="{{heroTitle}}" heroSubtitle="{{heroSubtitle}}"></app-hero> -->
    
    <app-hero-panel heroTitle="{{heroTitle}}" heroSubtitle="{{heroSubtitle}}"></app-hero-panel>
    <hr>
    <app-button-panel></app-button-panel>
    <hr>
    <button class="btn btn-info btn-lg router-button" (click)="toggleHome()" title="Temporary until I learn Routing">Show Armory</button>
    
</div>
<!-- ! Temporary until I learn routing -->
<div id="main" *ngIf="!showHome">
    <app-hero heroTitle="Welcome to the Armory" heroSubtitle="Choose your weapons wisely"
    heroColor="Olive Green"></app-hero>
    <app-armory></app-armory>    
    <button class="btn btn-info btn-lg router-button" (click)="toggleHome()" title="Temporary until I learn Routing">Show Home</button>
</div>