<div id="button-panel">
    <button type="button" class="btn btn-outline-primary btn-lg">Primary</button>
    <button type="button" class="btn btn-outline-secondary btn-lg">Secondary</button>
    <button type="button" class="btn btn-outline-success btn-lg">Success</button>
    <button type="button" class="btn btn-outline-danger btn-lg">Danger</button>
    <button type="button" class="btn btn-outline-warning btn-lg">Warning</button>
    <button type="button" class="btn btn-outline-info btn-lg">Info</button>
    <!-- <button type="button" class="btn btn-outline-light btn-lg">Light</button> -->
    <button type="button" class="btn btn-outline-dark btn-lg">Dark</button>
</div>