.card-deck {
    margin: 0 15px;
}
.card {
    max-width: 50vw;
}
.button-row {
    margin:0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btn {
    margin: 15px;
}